/**-------------------MOBILE---------------------- */

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }

  .benefits {
    margin: 96px 16px;
  }

  .benefits-item {
    max-width: 396px;
  }

  .benefits-subtitle {
    text-align: center;
  }

  .benefits-list {
    gap: 72px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-color: var(--black-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bgd-mob-2x.jpg);
  }
}

/**-------------------TABLET---------------------- */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .benefits-subtitle {
    text-align: unset;
  }

  .benefits {
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .benefits-item {
    max-width: unset;
    width: calc((100% - 2 * 24px) / 2);
  }

  .benefits-list {
    gap: 72px 24px;
  }

  .team-list {
    gap: 64px 24px;
  }

  .team-list-item {
    max-width: unset;
    width: calc((100% - 24px) / 2);
  }

  .customers-item {
    width: calc((100% - 3 * 16px) / 3);
    height: 88px;
  }

  .hero-container {
    padding: 112px 136px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bgd-tab.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-color: var(--black-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bgd-tab-2x.jpg);
  }
}

/**-------------------DESKTOP---------------------- */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .benefits-item {
    max-width: unset;
    width: calc((100% - 72px) / 4);
  }

  .benefits-list {
    gap: 24px;
  }

  .team-list {
    gap: 24px;
  }

  .team-list-item {
    max-width: unset;
    width: calc((100% - 3 * 24px) / 4);
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }

  .hero-container {
    padding: 260px 432px 188px 432px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bgd.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-color: var(--black-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bgd-2x.jpg);
  }
}
