body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--main-color);
}

:root {
  --black-color: #2e2f42;
  --white-color: #ffffff;
  --ocean-blue: #404bbf;
  --milk-color: #f4f4fd;
  --sky-blue: #4d5ae5;
  --main-color: #434455;
  --btns-color: #e7e9fc;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/** ----------------------------HEADER----------------------------- */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--sky-blue);
  text-transform: uppercase;
  align-items: center;
  margin-right: 76px;
}

.header-logo-link {
  color: var(--black-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-menu {
  display: flex;
  align-items: center;
  margin-left: 76px;
  gap: 40px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--black-color);
  padding: 24px 0 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-studio-link {
  color: var(--ocean-blue);
}

.header-studio-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  display: block;
  width: 100%;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--ocean-blue);
}

.header-address {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-address-link {
  color: var(--main-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--ocean-blue);
}

.addreses {
  font-style: normal;
  align-items: center;
}

/** -------------SECTION 1------------------ */

.hero {
  padding: 188px 0;
  background-color: var(--black-color);

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bgd.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}

.hero-container {
  height: 600px;
  max-width: 1440px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
  text-align: center;
  max-width: 496px;
  margin-bottom: 45px;
  margin-right: auto;
  margin-left: auto;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--sky-blue);
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean-blue);
}

.hero-cover-block {
  position: absolute;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 408px;
  height: 100%;
  left: 516px;
  top: 80px;
}

.hero-btn-cover {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/** -------------SECTION 2----------------- */

.benefits {
  padding: 96px 16px;
}

.benefits-item {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-color);
  margin-bottom: 8px;
}
.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.benefits-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}

.benefits-icon-container {
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-icon {
  fill: #f4f4fd;
}

/** --------------SECTION 3-------------- */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.doing {
  padding-bottom: 120px;
}

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--black-color);
  margin-bottom: 72px;
}

.doing-list {
  display: flex;
  padding-bottom: 120px;
  gap: 24px;
}

/** ----------------SECTION 4-----------------  */

.team {
  background-color: var(--milk-color);
  padding: 120px 0;
}

.team-list-item {
  width: 100%;
  background-color: var(--white-color);
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-item img {
  margin: 0 auto;
}

.team-title {
  padding-top: 96px;
  padding-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--black-color);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 96px;
  gap: 72px;
  justify-content: center;
  align-items: center;
}

.team-person {
  padding: 32px 0;
  min-width: 264px;
}

.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.team-text {
  text-align: center;
}

.team-person-icon {
  fill: #f4f4fd;
}

.team-soc-list {
  display: flex;
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
}

.team-soc-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}

/** ---------------------SECTION 5----------------- */

.customers {
  padding: 96px 0;
}

.customers-container {
  /* max-width: 1440px; */
}

.customers-icon-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon-link:hover,
.customers-icon-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--black-color);
  margin-bottom: 72px;
}

.customers-icon {
  fill: currentColor;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  align-items: center;
  justify-content: center;
}

.customers-item {
  width: calc((100% - 2 * 16px) / 2);
  height: 88px;
}

/**------------------FOOTER----------------- */

.footer {
  padding: 100px 0;
  background-color: var(--black-color);
}

.footer-container {
  width: unset;
  /* max-width: 1440px; */
  /* padding: 100px 1020px 101px 156px; */
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  /* align-items: baseline; */
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--sky-blue);
  text-transform: uppercase;
  margin-bottom: 15px;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-logo-link {
  color: var(--milk-color);
}

.footer-text {
  color: var(--milk-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-text-social {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-subscribe-container {
  margin-left: 80px;
}

.subscribe-text {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.input-subscribe {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}

.input-subscribe::placeholder {
  color: var(--white-color);
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: var(--sky-blue);
  border: none;
  color: var(--white-color);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.subscribe-icon {
  margin-left: 16px;
}

input {
  font-family: Roboto;
}

input::placeholder {
  color: var(--white-color);
  font-size: 12px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.form-subscribe {
  display: flex;
  gap: 24px;
}

/**-----------------------MODAL WINDOW-----------------  */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-icon {
  fill: var(--black-color);
}

.modal-close:hover .modal-icon,
.modal-close:focus .modal-icon {
  fill: #ffffff;
}

.modal-title {
  color: var(--black-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  border-radius: 4px;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon-input {
  fill: #4d5ae5;
}

.modal-textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  height: 120px;
  background-color: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-textarea::placeholder {
  color: var(--black-color, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  font-family: Roboto;
  line-height: 1.5;
  letter-spacing: 0.48px;
}

.modal-textarea:focus,
.modal-textarea:hover {
  border: 1px solid var(--sky-blue);
}

.modal-field-privacy {
  margin-bottom: 24px;
}

.modal-subscribe-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
}

.modal-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
  color: #8e8f99;
}

.modal-field {
  margin-bottom: 8px;
}

.input-wrap {
  position: relative;
}

.modal-icon-input {
  width: 18px;
  height: 24px;
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-privacy {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  align-items: center;
}

.label-privacy span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-privacy a {
  color: var(--sky-blue);
  text-decoration: underline;
}

.input-privacy:checked + .label-privacy span {
  background-color: var(--ocean-blue);
  border-radius: 2px;
  border: none;
  fill: #f4f4fd;
}

.modal-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  color: var(--white-color);
  text-align: center;
  border-radius: 4px;
  background: var(--sky-blue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 24px 120px;
  display: block;
  min-width: 169px;
  height: 56px;
}

.modal-btn:focus,
.modal-btn:hover {
  border-radius: 4px;
  background: var(--ocean-blue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/** ----------------PORTFOLIO SECTION LIST 1------------ */

.header-portfolio-link {
  color: #404bbf;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.port-btns-items {
}

.header-portfolio-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  display: block;
  width: 100%;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-btns-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--sky-blue);
  background-color: var(--milk-color);
  border: 1px solid #e7e9fc;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--btns-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-btns-link:hover,
.port-btns-link:focus {
  color: var(--white-color);
  background-color: var(--ocean-blue);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header-menu-link-port {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--black-color);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-menu-link-port:hover,
.header-menu-link-port:focus {
  color: var(--ocean-blue);
}

.section-port {
  padding: 96px 0 120px 0;
}

.port-btns-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

/**--------------------------IMAGES--------------------------- */

.images-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.images-item {
  width: calc((100% - 48px) / 3);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.images-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.images-text:hover,
.images-text:focus {
  transform: translateY(0%);
}

.images-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.images-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-color);
  margin-bottom: 8px;
}

.images-item:hover .cashless-payment {
  transform: translate(0);
}

.images-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.images-list-link:hover,
.images-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.images-list-link:hover .cashless-payment-text,
.images-list-link:focus .cashless-payment-text {
  transform: translateY(0%);
}

.cashless-payment-container {
  position: relative;
  overflow: hidden;
}

.cashless-payment-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**----------------FOOTER PORTFOLIO-------------------  */

.footer-logo-container-port {
}
